# Histrorical Time-Series Data & Equity Shocks

#### Class 2

#### Import Libaries

In [22]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import date

#### Data Extraction

In [8]:
stockTickers = list(pd.read_csv('https://archives.nseindia.com/content/indices/top10nifty50_130325.csv')['SYMBOL'] + '.NS')
print(stockTickers)

['HDFCBANK.NS', 'ICICIBANK.NS', 'RELIANCE.NS', 'INFY.NS', 'BHARTIARTL.NS', 'ITC.NS', 'LT.NS', 'TCS.NS', 'KOTAKBANK.NS', 'AXISBANK.NS']

In [62]:

spotData = yf.download(tickers=stockTickers, 
                       start=date(2021, 1, 1), 
                       end=date.today(),
                       auto_adjust=True)['Close']
print(spotData)

[*********************100%***********************]  10 of 10 completed

Ticker      AXISBANK.NS  BHARTIARTL.NS  HDFCBANK.NS  ICICIBANK.NS  \
Date
2021-01-01   621.093872     498.339722  1368.017578    509.912415
2021-01-04   621.989929     500.226074  1359.329712    513.972351
2021-01-05   661.567505     497.227234  1369.601318    519.337341
2021-01-06   651.411743     508.158508  1363.697510    528.472290
2021-01-07   668.188660     527.457520  1359.569702    523.058960
...                 ...            ...          ...           ...
2025-03-07  1037.650024    1630.699951  1689.250000   1214.550049
2025-03-10  1035.849976    1630.949951  1687.500000   1214.849976
2025-03-11  1025.650024    1662.949951  1685.500000   1245.400024
2025-03-12  1011.200012    1642.849976  1711.150024   1243.949951
2025-03-13  1010.200012    1632.500000  1706.599976   1250.050049

Ticker          INFY.NS      ITC.NS  KOTAKBANK.NS        LT.NS  RELIANCE.NS  \
Date
2021-01-01  1158.764404  179.427795   1988.043579  1233.939453   901.841919
2021-01-04  1184.321899  179.050217   1959.629395  1250.683716   903.361938
2021-01-05  1189.424072  177.414124   1953.846802  1242.787354   892.131409
2021-01-06  1178.667969  172.337952   1964.464722  1250.113037   868.604187
2021-01-07  1160.327515  170.156448   1946.518921  1273.849976   867.197571
...                 ...         ...           ...          ...          ...
2025-03-07  1686.000000  403.899994   1935.400024  3244.699951  1249.800049
2025-03-10  1701.449951  405.000000   1921.750000  3177.699951  1238.400024
2025-03-11  1661.599976  406.200012   1935.199951  3195.449951  1247.300049
2025-03-12  1590.849976  412.399994   1982.550049  3193.649902  1257.050049
2025-03-13  1579.849976  412.049988   1985.099976  3187.300049  1247.900024

Ticker           TCS.NS
Date
2021-01-01  2731.226318
2021-01-04  2834.944336
2021-01-05  2884.891113
2021-01-06  2846.183594
2021-01-07  2828.741699
...                 ...
2025-03-07  3611.199951
2025-03-10  3589.649902
2025-03-11  3575.300049
2025-03-12  3506.199951
2025-03-13  3511.050049

[1039 rows x 10 columns]

# Equity Returns

## 1. Absolute Returns 

        Formula :> Absolute = Curr. Price - Previous Price
            rAbsolute = St - St-1

In [64]:
spotData.diff().dropna()

Ticker,AXISBANK.NS,BHARTIARTL.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,ITC.NS,KOTAKBANK.NS,LT.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,
2021-01-04,0.896057,1.886353,-8.687866,4.059937,25.557495,-0.377579,-28.414185,16.744263,1.520020,103.718018
2021-01-05,39.577576,-2.998840,10.271606,5.364990,5.102173,-1.636093,-5.782593,-7.896362,-11.230530,49.946777
2021-01-06,-10.155762,10.931274,-5.903809,9.134949,-10.756104,-5.076172,10.617920,7.325684,-23.527222,-38.707520
2021-01-07,16.776917,19.299011,-4.127808,-5.413330,-18.340454,-2.181503,-17.945801,23.736938,-1.406616,-17.441895
2021-01-08,1.593079,-4.836853,14.783691,0.918335,45.920044,-1.090744,18.244873,32.774902,10.232117,82.172363
...,...,...,...,...,...,...,...,...,...,...
2025-03-07,3.550049,3.799927,-1.949951,-3.500000,-29.849976,-1.800018,13.700073,-15.199951,40.200073,9.599854
2025-03-10,-1.800049,0.250000,-1.750000,0.299927,15.449951,1.100006,-13.650024,-67.000000,-11.400024,-21.550049
2025-03-11,-10.199951,32.000000,-2.000000,30.550049,-39.849976,1.200012,13.449951,17.750000,8.900024,-14.349854
2025-03-12,-14.450012,-20.099976,25.650024,-1.450073,-70.750000,6.199982,47.350098,-1.800049,9.750000,-69.100098
2025-03-13,-1.000000,-10.349976,-4.550049,6.100098,-11.000000,-0.350006,2.549927,-6.349854,-9.150024,4.850098

In [66]:
spotData.diff().iloc[1:]

Ticker,AXISBANK.NS,BHARTIARTL.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,ITC.NS,KOTAKBANK.NS,LT.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,
2021-01-04,0.896057,1.886353,-8.687866,4.059937,25.557495,-0.377579,-28.414185,16.744263,1.520020,103.718018
2021-01-05,39.577576,-2.998840,10.271606,5.364990,5.102173,-1.636093,-5.782593,-7.896362,-11.230530,49.946777
2021-01-06,-10.155762,10.931274,-5.903809,9.134949,-10.756104,-5.076172,10.617920,7.325684,-23.527222,-38.707520
2021-01-07,16.776917,19.299011,-4.127808,-5.413330,-18.340454,-2.181503,-17.945801,23.736938,-1.406616,-17.441895
2021-01-08,1.593079,-4.836853,14.783691,0.918335,45.920044,-1.090744,18.244873,32.774902,10.232117,82.172363
...,...,...,...,...,...,...,...,...,...,...
2025-03-07,3.550049,3.799927,-1.949951,-3.500000,-29.849976,-1.800018,13.700073,-15.199951,40.200073,9.599854
2025-03-10,-1.800049,0.250000,-1.750000,0.299927,15.449951,1.100006,-13.650024,-67.000000,-11.400024,-21.550049
2025-03-11,-10.199951,32.000000,-2.000000,30.550049,-39.849976,1.200012,13.449951,17.750000,8.900024,-14.349854
2025-03-12,-14.450012,-20.099976,25.650024,-1.450073,-70.750000,6.199982,47.350098,-1.800049,9.750000,-69.100098
2025-03-13,-1.000000,-10.349976,-4.550049,6.100098,-11.000000,-0.350006,2.549927,-6.349854,-9.150024,4.850098

## 2. Discrite Propational Returns

        Formula :>  Discrite Propational Returns = (Currn. Price - Prev. Price) / Prev. Price
            rDiscrite = (St-St-1)/St-1

In [68]:
spotData.pct_change().iloc[1:]

Ticker,AXISBANK.NS,BHARTIARTL.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,ITC.NS,KOTAKBANK.NS,LT.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,
2021-01-04,0.001443,0.003785,-0.006351,0.007962,0.022056,-0.002104,-0.014293,0.013570,0.001685,0.037975
2021-01-05,0.063631,-0.005995,0.007556,0.010438,0.004308,-0.009138,-0.002951,-0.006314,-0.012432,0.017618
2021-01-06,-0.015351,0.021984,-0.004311,0.017590,-0.009043,-0.028612,0.005434,0.005895,-0.026372,-0.013417
2021-01-07,0.025755,0.037978,-0.003027,-0.010243,-0.015560,-0.012658,-0.009135,0.018988,-0.001619,-0.006128
2021-01-08,0.002384,-0.009170,0.010874,0.001756,0.039575,-0.006410,0.009373,0.025729,0.011799,0.029049
...,...,...,...,...,...,...,...,...,...,...
2025-03-07,0.003433,0.002336,-0.001153,-0.002873,-0.017397,-0.004437,0.007129,-0.004663,0.033234,0.002665
2025-03-10,-0.001735,0.000153,-0.001036,0.000247,0.009164,0.002723,-0.007053,-0.020649,-0.009121,-0.005968
2025-03-11,-0.009847,0.019620,-0.001185,0.025147,-0.023421,0.002963,0.006999,0.005586,0.007187,-0.003998
2025-03-12,-0.014089,-0.012087,0.015218,-0.001164,-0.042579,0.015263,0.024468,-0.000563,0.007817,-0.019327
2025-03-13,-0.000989,-0.006300,-0.002659,0.004904,-0.006915,-0.000849,0.001286,-0.001988,-0.007279,0.001383

## 3. Continous Propational Returns
    
        Formula :>  Continus Propational Returns = LN (Currn. Price - Prev. Price) 
            rContinus = LN( St / St-1 )
            Gr, LN(1 + 2. Discrite Propational Returns)

In [70]:
spotData

Ticker,AXISBANK.NS,BHARTIARTL.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,ITC.NS,KOTAKBANK.NS,LT.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,
2021-01-01,621.093872,498.339722,1368.017578,509.912415,1158.764404,179.427795,1988.043579,1233.939453,901.841919,2731.226318
2021-01-04,621.989929,500.226074,1359.329712,513.972351,1184.321899,179.050217,1959.629395,1250.683716,903.361938,2834.944336
2021-01-05,661.567505,497.227234,1369.601318,519.337341,1189.424072,177.414124,1953.846802,1242.787354,892.131409,2884.891113
2021-01-06,651.411743,508.158508,1363.697510,528.472290,1178.667969,172.337952,1964.464722,1250.113037,868.604187,2846.183594
2021-01-07,668.188660,527.457520,1359.569702,523.058960,1160.327515,170.156448,1946.518921,1273.849976,867.197571,2828.741699
...,...,...,...,...,...,...,...,...,...,...
2025-03-07,1037.650024,1630.699951,1689.250000,1214.550049,1686.000000,403.899994,1935.400024,3244.699951,1249.800049,3611.199951
2025-03-10,1035.849976,1630.949951,1687.500000,1214.849976,1701.449951,405.000000,1921.750000,3177.699951,1238.400024,3589.649902
2025-03-11,1025.650024,1662.949951,1685.500000,1245.400024,1661.599976,406.200012,1935.199951,3195.449951,1247.300049,3575.300049
2025-03-12,1011.200012,1642.849976,1711.150024,1243.949951,1590.849976,412.399994,1982.550049,3193.649902,1257.050049,3506.199951
2025-03-13,1010.200012,1632.500000,1706.599976,1250.050049,1579.849976,412.049988,1985.099976,3187.300049,1247.900024,3511.050049

In [72]:
spotData.shift()

Ticker,AXISBANK.NS,BHARTIARTL.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,ITC.NS,KOTAKBANK.NS,LT.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,
2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-04,621.093872,498.339722,1368.017578,509.912415,1158.764404,179.427795,1988.043579,1233.939453,901.841919,2731.226318
2021-01-05,621.989929,500.226074,1359.329712,513.972351,1184.321899,179.050217,1959.629395,1250.683716,903.361938,2834.944336
2021-01-06,661.567505,497.227234,1369.601318,519.337341,1189.424072,177.414124,1953.846802,1242.787354,892.131409,2884.891113
2021-01-07,651.411743,508.158508,1363.697510,528.472290,1178.667969,172.337952,1964.464722,1250.113037,868.604187,2846.183594
...,...,...,...,...,...,...,...,...,...,...
2025-03-07,1034.099976,1626.900024,1691.199951,1218.050049,1715.849976,405.700012,1921.699951,3259.899902,1209.599976,3601.600098
2025-03-10,1037.650024,1630.699951,1689.250000,1214.550049,1686.000000,403.899994,1935.400024,3244.699951,1249.800049,3611.199951
2025-03-11,1035.849976,1630.949951,1687.500000,1214.849976,1701.449951,405.000000,1921.750000,3177.699951,1238.400024,3589.649902
2025-03-12,1025.650024,1662.949951,1685.500000,1245.400024,1661.599976,406.200012,1935.199951,3195.449951,1247.300049,3575.300049
2025-03-13,1011.200012,1642.849976,1711.150024,1243.949951,1590.849976,412.399994,1982.550049,3193.649902,1257.050049,3506.199951

In [74]:
np.log(spotData / spotData.shift())

Ticker,AXISBANK.NS,BHARTIARTL.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,ITC.NS,KOTAKBANK.NS,LT.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,
2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-04,0.001442,0.003778,-0.006371,0.007930,0.021816,-0.002107,-0.014396,0.013479,0.001684,0.037272
2021-01-05,0.061688,-0.006013,0.007528,0.010384,0.004299,-0.009180,-0.002955,-0.006334,-0.012510,0.017465
2021-01-06,-0.015470,0.021746,-0.004320,0.017437,-0.009084,-0.029029,0.005420,0.005877,-0.026726,-0.013508
2021-01-07,0.025429,0.037275,-0.003032,-0.010296,-0.015683,-0.012739,-0.009177,0.018810,-0.001621,-0.006147
...,...,...,...,...,...,...,...,...,...,...
2025-03-07,0.003427,0.002333,-0.001154,-0.002878,-0.017550,-0.004447,0.007104,-0.004674,0.032694,0.002662
2025-03-10,-0.001736,0.000153,-0.001036,0.000247,0.009122,0.002720,-0.007078,-0.020865,-0.009163,-0.005985
2025-03-11,-0.009896,0.019430,-0.001186,0.024836,-0.023700,0.002959,0.006974,0.005570,0.007161,-0.004006
2025-03-12,-0.014189,-0.012161,0.015103,-0.001165,-0.043513,0.015148,0.024173,-0.000563,0.007786,-0.019516
2025-03-13,-0.000989,-0.006320,-0.002663,0.004892,-0.006939,-0.000849,0.001285,-0.001990,-0.007306,0.001382

In [76]:
np.log(1 + spotData.pct_change())

Ticker,AXISBANK.NS,BHARTIARTL.NS,HDFCBANK.NS,ICICIBANK.NS,INFY.NS,ITC.NS,KOTAKBANK.NS,LT.NS,RELIANCE.NS,TCS.NS
Date,,,,,,,,,,
2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-04,0.001442,0.003778,-0.006371,0.007930,0.021816,-0.002107,-0.014396,0.013479,0.001684,0.037272
2021-01-05,0.061688,-0.006013,0.007528,0.010384,0.004299,-0.009180,-0.002955,-0.006334,-0.012510,0.017465
2021-01-06,-0.015470,0.021746,-0.004320,0.017437,-0.009084,-0.029029,0.005420,0.005877,-0.026726,-0.013508
2021-01-07,0.025429,0.037275,-0.003032,-0.010296,-0.015683,-0.012739,-0.009177,0.018810,-0.001621,-0.006147
...,...,...,...,...,...,...,...,...,...,...
2025-03-07,0.003427,0.002333,-0.001154,-0.002878,-0.017550,-0.004447,0.007104,-0.004674,0.032694,0.002662
2025-03-10,-0.001736,0.000153,-0.001036,0.000247,0.009122,0.002720,-0.007078,-0.020865,-0.009163,-0.005985
2025-03-11,-0.009896,0.019430,-0.001186,0.024836,-0.023700,0.002959,0.006974,0.005570,0.007161,-0.004006
2025-03-12,-0.014189,-0.012161,0.015103,-0.001165,-0.043513,0.015148,0.024173,-0.000563,0.007786,-0.019516
2025-03-13,-0.000989,-0.006320,-0.002663,0.004892,-0.006939,-0.000849,0.001285,-0.001990,-0.007306,0.001382